{% extends 'visiteur-base.html.twig' %}
{% block stylesheets %} 
{{ parent () }}
     <!-- <link rel="stylesheet" href="front-end/submit/assets/css/normalize.css"> 
     <link rel="stylesheet" href="front-end/submit/assets/css/font-awesome.min.css">
     <link rel="stylesheet" href="front-end/submit/assets/css/fontello.css">
     <link href="front-end/submit/assets/fonts/icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet">
     <link href="front-end/submit/assets/fonts/icon-7-stroke/css/helper.css" rel="stylesheet">
     <link href="front-end/submitassets/css/animate.css" rel="stylesheet" media="screen"> 
     
     
     !--> 
     <link rel="stylesheet" href="front-end/submit/bootstrap/css/bootstrap.min.css"> 
     <link rel="stylesheet" href="front-end/submit/assets/css/responsive.css">
     <link rel="stylesheet" href="front-end/submit/assets/css/style.css">
     <link rel="stylesheet" href="front-end/submit/assets/css/bootstrap-select.min.css"> 
     <link rel="stylesheet" href="front-end/submit/assets/css/icheck.min_all.css"> 
     <link rel="stylesheet" href="front-end/submit/assets/css/price-range.css">
     <link rel="stylesheet" href="front-end/submit/assets/css/owl.carousel.css">  
     <link rel="stylesheet" href="front-end/submit/assets/css/owl.theme.css">
     <link rel="stylesheet" href="front-end/submit/assets/css/owl.transitions.css"> 
     <link rel="stylesheet" href="front-end/submit/assets/css/wizard.css"> 
     
     {% endblock %}
     {% block title %}Soumettre un bien - {{ parent () }}{% endblock %}
     {% block content %}
     <section class="probootstrap-slider flexslider2 page-inner">
        <div class="overlay"></div>
        <div class="probootstrap-wrap-banner">
          <div class="container">
            <div class="row">
              <div class="col-md-8">

                <div class="page-title probootstrap-animate">
                  <div class="probootstrap-breadcrumbs">
                    <a href="#">Accueil</a>
                </div>
                <h1>Soumettre un bien</h1>
            </div>

        </div>
    </div>
</div>
</div>
<ul class="slides">
  <li style="background-image: url(front-end/img/architecture.jpg);"></li>
  <li style="background-image: url(front-end/img/architecture.jpg);"></li>
  <li style="background-image: url(front-end/img/architecture.jpg);"></li>
</ul>
</section>
<!-- property area -->
<div class="content-area submit-property" style="background-color: #FCFCFC;">&nbsp;
    <div class="container">
        <div class="clearfix" > 
            <div class="wizard-container"> 

                <div class="wizard-card ct-wizard-orange" id="wizardProperty">
                    <form action="" method="">                        
                        <div class="wizard-header">
                            <h3>
                                <b>Soumettez</b> VOTRE BIEN<br>
                                <small>Il nous faut avoir quelques informations vous concernant et votre bien.</small>
                            </h3>
                        </div>

                        <ul>
                            <li><a href="#step1" data-toggle="tab">Etape 1 </a></li>
                            <li><a href="#step2" data-toggle="tab">Etape 2 </a></li>
                            <li><a href="#step3" data-toggle="tab">Etape 3 </a></li>
                            <li><a href="#step4" data-toggle="tab">Soumettre le bien</a></li>
                        </ul>

                        <div class="tab-content">

                            <div class="tab-pane" id="step1">
                                <div class="row p-b-15  ">
                                    <h4 class="info-text"> Quelques informations vous concernant</h4>
                                    <div class="col-sm-4 col-sm-offset-1">
                                        <div class="picture-container">
                                            <div class="picture">
                                                <img src="assets/img/default-property.jpg" class="picture-src" id="wizardPicturePreview" title=""/>
                                                <input type="file" id="wizard-picture" placeholder="Entrer un image de vous">
                                                <label for="wizard-picture"></label>
                                            </div> 
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Votre nom<small>(obligatoire)</small></label>
                                            <input name="propertyname" type="text" class="form-control" placeholder="">
                                        </div>

                                        <div class="form-group">
                                            <label>Votre prénom<small>(obligatoire)</small></label>
                                            <input name="propertyprice" type="text" class="form-control" placeholder="">
                                        </div> 
                                        <div class="form-group">
                                            <label>Telephone <small>(obligatoire)</small></label>
                                            <input name="phone" type="text" class="form-control" placeholder="00229 ">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--  End step 1 -->

                            <div class="tab-pane" id="step2">
                                <h4 class="info-text"> Parler nous de votre bien</h4>
                                <div class="row">
                                    <div class="col-sm-12"> 
                                        <div class="col-sm-12"> 
                                            <div class="form-group">
                                                <label>Ajouter une courte description de la propriété:</label>
                                                <textarea name="discrition" class="form-control" ></textarea>
                                            </div> 
                                        </div> 
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Ville :</label>
                                                <select id="lunchBegins" class="selectpicker show-tick form-control" data-live-search="true" data-live-search-style="begins" title="Selectionner la ville">
                                                    <option>Seoul</option>
                                                    <option>Paris</option>
                                                    <option>Casablanca</option>
                                                    <option>Tokyo</option>
                                                    <option>Marraekch</option>
                                                    <option>kyoto , shibua</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Quartier :</label>
                                                <select id="lunchBegins" class="selectpicker show-tick form-control" data-live-search="true" data-live-search-style="begins" title="Selectionner le quartier" required="required">
                                                    <option>New york, CA</option>
                                                    <option>Paris</option>
                                                    <option>Casablanca</option>
                                                    <option>Tokyo</option>
                                                    <option>Marraekch</option>
                                                    <option>kyoto , shibua</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Type de la propriété:</label>
                                                <select id="basic" class="selectpicker show-tick form-control" onclick="controle()" title="Si vous prorpiété est une parcelle ou tout autre type veuillez préciser">
                                                    <option > -Type- </option>
                                                    <option >Parcelle </option>
                                                    <option >Batis</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Statut de la propriété :</label>
                                                <select id="statut" class="selectpicker show-tick form-control" title="Est t'il a vendre ou a louer ?">
                                                    <option> -Statut- </option>
                                                    <option>A vendre </option>
                                                    <option>A louer</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12" id="step21">

                                        <div class="col-sm-3" id="nbrlot">
                                            <div class="form-group">
                                                <label>Le nombre de lots</label>
                                                <input id="inputnbrlot" name="superficieparcelle" type="text" class="form-control"placeholder="" title="Par exemple j'ai des chambres de type 1 chambre 1 salon et ceux de type 2 chambres 1 salon" onclick="controle">
                                            </div>
                                        </div>
                                    </div>


                                    <br>
                                </div>
                            </div>
                            <!-- End step 2 -->

                            <div class="tab-pane" id="step3"> 



                                <div id="habitat">

                                    <div  id="lot">
                                        <h4 class="info-text">Lot no 1</h4>
                                        <div class="row">
                                            <div class="col-sm-12"> 
                                                <div class="col-sm-12"> 
                                                    <div class="form-group">
                                                        <label>Type du lot:</label>
                                                        <select id="typedelot" class="selectpicker show-tick form-control" data-live-search="true" data-live-search-style="begins" title="Selectionner le type de lot" onclick="controle()">
                                                            <option>Habitation</option>
                                                            <option>Bureau</option>
                                                            <option>Magasin ou Boutique</option>
                                                        </select>
                                                    </div>
                                                </div> 
                                            </div>

                                            <div id="habitation">

                                            <div class="col-sm-12">
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <label>Nombre de salons :</label>
                                                        <input name="propertyname" type="text" class="form-control" placeholder="1">
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <label>Nombre de chambres :</label>
                                                        <input name="propertyname" type="text" class="form-control" placeholder="1">
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <label>Nombre de douches :</label>
                                                        <input name="propertyname" type="text" class="form-control" placeholder="1">
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <label>Nombre de cusines :</label>
                                                        <input name="propertyname" type="text" class="form-control" placeholder="1">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="row">
                                                    <div class="col-sm-2">
                                                        <div class="form-group">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox"> Titre foncier
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div> 
                                                    <div class="col-sm-2">
                                                        <div class="form-group">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox"> Sanitaire
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>                                                 
                                                    <div class="col-sm-2">
                                                        <div class="form-group">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox"> Carrolé
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>                                                 
                                                    <div class="col-sm-2">
                                                        <div class="form-group">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox"> Véranda
                                                                </label>
                                                            </div>
                                                        </div>

                                                    </div> 
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-2">
                                                        <div class="form-group">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox"> Co-location
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div> 
                                                    <div class="col-sm-2">
                                                        <div class="form-group">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox"> Garage
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>                                                 
                                                    <div class="col-sm-2">
                                                        <div class="form-group">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox"> Compteur personnel
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>                                                 
                                                    <div class="col-sm-2">
                                                        <div class="form-group">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox"> Compteur prépéyé
                                                                </label>
                                                            </div>
                                                        </div>

                                                    </div> 
                                                </div>
                                                </div>
                                            </div>


                                            <div id="bureau">
                                                <div class="col-sm-12">
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label>Nombre de pieces :</label>
                                                            <input name="propertyname" type="text" class="form-control" placeholder="1">
                                                        </div>
                                                    </div>
                                                
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-2">
                                                        <div class="form-group">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox"> Toilettes
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div> 
                                                    <div class="col-sm-2">
                                                        <div class="form-group">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox"> Sanitaires
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>                                                 
                                                    <div class="col-sm-2">
                                                        <div class="form-group">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox"> Cables data
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>                                                 
                                                    <div class="col-sm-2">
                                                        <div class="form-group">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox"> Compteur prépéyé
                                                                </label>
                                                            </div>
                                                        </div>

                                                    </div> 
                                                </div>
                                            </div>

                                            <div id="boutique">
                                                <div class="col-sm-12">
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label>Nombre de pieces :</label>
                                                            <input name="propertyname" type="text" class="form-control" placeholder="1">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label>Capacité de stockage pour magasin :</label>
                                                            <input name="propertyname" type="text" class="form-control" placeholder="1">
                                                        </div>
                                                    </div>
                                                
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-2">
                                                        <div class="form-group">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox"> Toilettes
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div> 
                                                    <div class="col-sm-2">
                                                        <div class="form-group">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox"> Sanitaires
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>                                                 
                                                    <div class="col-sm-2">
                                                        <div class="form-group">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox"> Cables data
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>                                                 
                                                    <div class="col-sm-2">
                                                        <div class="form-group">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox"> Compteur prépéyé
                                                                </label>
                                                            </div>
                                                        </div>

                                                    </div> 
                                                </div>
                                            </div>

                                            <br>
                                        </div>
                                    </div>
                                </div>
                                <!--    <div class="col-sm-9 padding-top-15">                                                   
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="property-geo">Min bed :</label>
                                                <input type="text" class="span2" value="" data-slider-min="0" 
                                                data-slider-max="600" data-slider-step="5" 
                                                data-slider-value="[250,450]" id="min-bed" ><br />
                                                <b class="pull-left color">1</b> 
                                                <b class="pull-right color">120</b>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">

                                            <div class="form-group">
                                                <label for="price-range">Min baths :</label>
                                                <input type="text" class="span2" value="" data-slider-min="0" 
                                                data-slider-max="600" data-slider-step="5" 
                                                data-slider-value="[250,450]" id="min-baths" ><br />
                                                <b class="pull-left color">1</b> 
                                                <b class="pull-right color">120</b>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">

                                            <div class="form-group">
                                                <label for="property-geo">Property geo (m2) :</label>
                                                <input type="text" class="span2" value="" data-slider-min="0" 
                                                data-slider-max="600" data-slider-step="5" 
                                                data-slider-value="[50,450]" id="property-geo" ><br />
                                                <b class="pull-left color">40m</b> 
                                                <b class="pull-right color">12000m</b>
                                            </div>
                                        </div>   
                                    </div>
                                    <div class="col-sm-12 padding-top-15">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> Swimming Pool
                                                    </label>
                                                </div>
                                            </div>
                                        </div> 
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> 2 Stories
                                                    </label>
                                                </div>
                                            </div>
                                        </div>                                                 
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> Emergency Exit
                                                    </label>
                                                </div>
                                            </div>
                                        </div>                                                 
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> Fire Place 
                                                    </label>
                                                </div>
                                            </div>
                                        </div> 
                                    </div> 
                                    <div class="col-sm-12 padding-bottom-15">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> Laundry Room
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> Jog Path
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> Ceilings
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> Dual Sinks
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <div id="caracteristique_parcelle" class="padding-top-15">

                                    <div class="row">
                                        <div class="col-sm-3" id="superficieparcelle">
                                            <div class="form-group">
                                                <label>La superficie de la parcelle(en m2)</label>
                                                <input id="inputsuperficieparcelle" name="superficieparcelle" type="text" class="form-control"placeholder="" onclick="controle">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> Titre foncier
                                                    </label>
                                                </div>
                                            </div>
                                        </div> 
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> Loti
                                                    </label>
                                                </div>
                                            </div>
                                        </div>                                                 
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> Recasée
                                                    </label>
                                                </div>
                                            </div>
                                        </div>                                                 
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> Légal
                                                    </label>
                                                </div>
                                            </div>

                                        </div> 
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4"> 
                                            <div class="form-group">
                                                <label for="property-images">Choisir une image:</label>
                                                <input class="form-control" type="file" id="property-images">
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                
                                <div id="choix_image">                                  
                                    <div class="row">  
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="property-images">Choisir une image:</label>
                                                <input class="form-control" type="file" id="property-images">
                                            </div>
                                        </div>

                                    </div>
                                </div> 

                            </div>

                            <!--  End step 3 -->




                            <div class="tab-pane" id="step4">                                        
                                <h4 class="info-text">Soumettre le bien</h4>
                                <div class="row">  
                                    <div class="col-sm-12">
                                        <div class="">
                                            <p>
                                                <label><strong>Condition légales</strong></label>
                                                Vous accepter qua des fins de fonctionnement Immo se servira de vis infimation personnelles et relatives a votre propriété précédement entrées.
                                            </p>

                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" /> <strong>J'accepte et je soumet mon bien.</strong>
                                                </label>
                                            </div> 

                                        </div> 
                                    </div>
                                </div>
                            </div>
                            <!--  End step 4 -->

                        </div>

                        <div class="wizard-footer">
                            <div class="pull-right">
                                <input type='button' " class='btn btn-next btn-success' name='next' value='Suivant' />
                                <input type='button' class='btn btn-finish btn-success ' name='Fin' value='Fin' />
                            </div>

                            <div class="pull-left">
                                <input type='button' class='btn btn-previous btn-warning' name='previous' value='Précédent' />
                            </div>
                            <div class="clearfix"></div>                                            
                        </div>  
                    </form>
                </div>
                <!-- End submit form -->
            </div> 
        </div>
    </div>
</div>

<div class="probootstrap-home-search probootstrap-animate search-properties" id="hidden-content" >
  <form action="" method="post">
    <h2 class="heading">Rechercher votre nouvel habitat ici.</h2>
    <div class="probootstrap-field-group">
      <div class="probootstrap-fields">

        <div class="search-field">
          <i class="icon-location2"></i>
          <input type="text" class="form-control" placeholder="Entrer une adresse">
      </div>
      <div class="search-category">
          <i class="icon-chevron-down"></i>
          <select name="#" id="" class="form-control">
            <option value="">A vendre</option>
            <option value="">A louer</option>
        </select>
    </div>
    <div class="search-category">
      <i class="icon-chevron-down"></i>
      <select name="#" id="" class="form-control">
        <option value="">Parcelle</option>
        <option value="">Maison</option>
        <option value="">Boutique</option>
        <option value="">Immeuble </option>
    </select>
</div>
</div>

<button class="btn btn-success" type="submit"><i class="icon-magnifying-glass t2"></i> Rechercher</button>
</div>
</form>
<p class="mb0 text-center soumission_info" ><small>Etes vous propriétaire d'une maison, d'une parcelle a vendre ou a louer ? <a href="{{ path('request')}}">Soumetter nous votre bien</a></small> </p>
</div>
{% endblock %}
{% block script %}
{{ parent () }}
<script>
    document.getElementById('nbrlot').style.display = 'none';
    document.getElementById('choix_image').style.display = 'none';
    document.getElementById('habitat').style.display = 'none';
    document.getElementById('caracteristique_parcelle').style.display = 'none';
    document.getElementById('habitat').style.display = 'none';
    document.getElementById('habitation').style.display = 'none';
    document.getElementById('bureau').style.display = 'none';
    document.getElementById('boutique').style.display = 'none';


    function controle() {


        var typedebiens = document.getElementById('basic').value;


        if (typedebiens=="Parcelle")
        {
            document.getElementById('nbrlot').style.display = 'none';
            document.getElementById('caracteristique_parcelle').style.display = 'block';
            document.getElementById('habitat').style.display = 'none';
        }
        else if (typedebiens=="Batis") 
        {
            document.getElementById('nbrlot').style.display = 'block';
            document.getElementById('caracteristique_parcelle').style.display = 'none';
            document.getElementById('habitat').style.display = 'block';
            if (document.getElementById('typedelot').value =="Habitation") {
                document.getElementById('habitation').style.display = 'block';
                document.getElementById('bureau').style.display = 'none';
                document.getElementById('boutique').style.display = 'none';
            }
            else if (document.getElementById('typedelot').value=="Bureau") {
                document.getElementById('habitation').style.display = 'none';
                document.getElementById('bureau').style.display = 'block';
                document.getElementById('boutique').style.display = 'none';
            }
            else if (document.getElementById('typedelot').value=="Magasin ou Boutique") {
                document.getElementById('habitation').style.display = 'none';
                document.getElementById('bureau').style.display = 'none';
                document.getElementById('boutique').style.display = 'block';
            }
            else{
                document.getElementById('habitation').style.display = 'none';
                document.getElementById('bureau').style.display = 'none';
                document.getElementById('boutique').style.display = 'none';
            }
        }

        else{
            document.getElementById('nbrlot').style.display = 'none';
            document.getElementById('choix_image').style.display = 'none';
            document.getElementById('caracteristique_parcelle').style.display = 'none';
            document.getElementById('habitat').style.display = 'none';
        }

    }
</script>
<script src="front-end/submit/assets/js/vendor/modernizr-2.6.2.min.js"></script>
<script src="front-end/submit/bootstrap/js/bootstrap.min.js"></script>
<script src="front-end/submit/assets/js/bootstrap-hover-dropdown.js"></script>
<script src="front-end/submit/assets/js/easypiechart.min.js"></script>
<script src="front-end/submit/assets/js/jquery.easypiechart.min.js"></script>   
<script src="front-end/submit/assets/js/owl.carousel.min.js"></script>
<script src="front-end/submit/assets/js/wow.js"></script>
<script src="front-end/submit/assets/js/icheck.min.js"></script>
<script src="front-end/submit/assets/js/price-range.js"></script> 
<script src="front-end/submit/assets/js/jquery.bootstrap.wizard.js" type="text/javascript"></script>
<script src="front-end/submit/assets/js/jquery.validate.min.js"></script>
<script src="front-end/submit/assets/js/wizard.js"></script>
<script src="front-end/submit/assets/js/main.js"></script>

{% endblock %}