  <section class="probootstrap-slider flexslider" >
  <div class="probootstrap-wrap-banner">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">

          <div class="probootstrap-home-search probootstrap-animate" >
            <form action="" method="post">
              <h2 class="heading">Rechercher votre nouvel habitat ici.</h2>
              <div class="probootstrap-field-group">
                <div class="probootstrap-fields">
                  
                  <div class="search-field">
                    <i class="icon-location2"></i>
                    <input type="text" class="form-control" placeholder="Entrer une adresse">
                  </div>
                  <div class="search-category">
                    <i class="icon-chevron-down"></i>
                    <select name="#" id="" class="form-control">
                      <option value="">A vendre</option>
                      <option value="">A louer</option>
                    </select>
                  </div>
                  <div class="search-category">
                    <i class="icon-chevron-down"></i>
                    <select name="#" id="" class="form-control">
                      <option value="">Parcelle</option>
                      <option value="">Maison</option>
                      <option value="">Boutique</option>
                      <option value="">Immeuble </option>
                    </select>
                  </div>
                </div>

                <button class="btn btn-success" type="submit"><i class="icon-magnifying-glass t2"></i> Rechercher</button>
              </div>
            </form>
            <p class="mb0 text-center  soumission_info" ><small>Etes vous propriétaire d'une maison, d'une parcelle a vendre ou a louer ? <a href="{{ path('request')}}">Soumetter nous votre bien</a></small> </p>
          </div>

        </div>
      </div>
    </div>
  </div> 
<ul class="slides">
    <li style="background-image: url(front-end/img/architecture.jpg);" class="overlay"></li>
    <li style="background-image: url(front-end/img/architecture-1836070.jpg);" class="overlay"></li>
    <li style="background-image: url(front-end/img/bg.jpg);" class="overlay"></li>
    <li style="background-image: url(front-end/img/bg-2.jpg);" class="overlay"></li>
    </ul>
</section>